.container {
  min-width: 240px;
  border: solid 1px black;
  border-radius: 5px;
  min-height: 90%;
  margin: 0.5em;
  padding: 0;
}
.container-head {
  padding: 1em;
}
.column-body {
  height: 100%;
  padding-top: 0.1em;
  margin: 0;
}
.three-dots {
  float: right;
  margin-top: 6px;
}
